@{
    ViewBag.Title = "Index";
}

<h2>Demos</h2>

<ul>
    <li><a href="@Url.Action("ComicsDemo")">Simple MVC JSON Proxy Demo - Retrieving Data</a></li>
    <li><a href="@Url.Action("ComicsPostDemo")">Simple MVC JSON Proxy Demo - Posting Data</a></li>
    <li><a href="@Url.Action("SecureComicsPostDemo")">MVC JSON Proxy Demo - Posting Data With AntiForgery Token</a></li>
    <li><a href="@Url.Action("KnockoutDemo")">Using Knockout with the MVC JSON Proxy</a></li>
</ul>