@{
    ViewBag.Title = "Home Page";
}

<h1 id="message"></h1>

<script type="text/javascript">
    $(function () {
        $.ajax({
            url: '/home/about',
            cache: false,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            statusCode: {
                200: function (data) {
                    $('#message').html('Fail! HTTP 200 response.');
                },
                401: function (data) {
                    $('#message').html('Success! HTTP 401 response!');
                }
            }
        });
    });
</script>

<pre class="csharpcode"><span class="kwrd">&lt;</span><span class="html">script</span> <span class="attr">type</span><span class="kwrd">=&quot;text/javascript&quot;</span><span class="kwrd">&gt;</span>
  $(<span class="kwrd">function</span> () {
    $.ajax({
      url: <span class="str">'/home/about'</span>,
      cache: <span class="kwrd">false</span>,
      type: <span class="str">'POST'</span>,
      contentType: <span class="str">'application/json; charset=utf-8'</span>,
      statusCode: {
        200: <span class="kwrd">function</span> (data) {
          $(<span class="str">'#message'</span>).html(<span class="str">'Fail! HTTP 200 response'</span>);
        },
        401: <span class="kwrd">function</span> (data) {
          $(<span class="str">'#message'</span>).html(<span class="str">'Success! HTTP 401 response!'</span>);
        }
      }
    });
  });
<span class="kwrd">&lt;/</span><span class="html">script</span><span class="kwrd">&gt;</span></pre>
<style type="text/css">
.csharpcode, .csharpcode pre
{
    font-size: small;
    color: black;
    font-family: consolas, "Courier New", courier, monospace;
    background-color: #ffffff;
    /*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
    background-color: #f4f4f4;
    width: 100%;
    margin: 0em;
}
.csharpcode .lnum { color: #606060; }</style>