<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Areas/MvcAjaxDemo/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Scripts", required: false)
</head>

<body>
    <h1>MVCHaack Ajax Demo</h1>

    @RenderBody()
</body>
</html>

